 *{
    margin: 0 ;
    padding: 0;
 }
 @font-face {
    font-family: 'Caros Soft Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Caros Soft Regular'), url('../assets/fonts/caros_soft/CarosSoft.woff') format('woff');
    }
    @font-face {
        font-family: 'Caros Soft Medium';
        font-style: normal;
        font-weight: normal;
        src: local('Caros Soft Medium'), url('../assets/fonts/caros_soft/CarosSoftMedium.woff') format('woff');
        }

        
    @font-face {
        font-family: 'Caros Soft Thin';
        font-style: normal;
        font-weight: normal;
        src: local('Caros Soft Thin'), url('../assets/fonts/caros_soft/CarosSoftThin.woff') format('woff');
        }
    
    
        body {
    font-family: 'Caros Soft Regular';
    font-style: normal;
    font-weight: normal;  
      margin: 0;
    padding: 0;
/* font-weight: 500; */


}
/* Общие стили для навбара */
.navbar {
    font-family: 'Caros Soft Regular';
    font-style: normal;
    width: 100%;
}

 
.logo-content {
    width: 231px; /* Установите ширину и высоту по вашему усмотрению */
    
}
.logo{
    width: 120px;
    height: 31px;
    background-image: url('../assets/logo.png'); /* Основное изображение логотипа */
    background-size: contain; /* Подгонка изображения по размеру контейнера */
    background-repeat: no-repeat; /* Избегать повторения изображения */
    background-position: center; /* Центрирование изображения */
}

/* Стили для мобильных устройств */
@media (max-width: 466px) {
    .logo {
        width: 95px;
        background-image: url('../assets/white.png'); /* Изображение логотипа для мобильных устройств */
    }
    .logo-content{
        width: auto;
    }
    .navbar>.container{
        padding: 20px 20px !important;
    }
    .cart> .cart-text{
        display: none;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar .container,
.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
 


.navbar .nav-links {
    flex: 2;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar .nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 12px;
    padding: 5px 10px;
}

.navbar .nav-buttons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 3px;
    margin-right: 10px;
}

.navbar .nav-buttons .button {
    border: 1px solid #ddd;
    border-radius: 57%;
    padding: 8px;
    display: flex;
    cursor: pointer;
    position: relative;
    margin: 0px 7px;
    background-color: white;
}

.navbar .nav-buttons .cart {
    border-radius: 25px !important;
    font-size: 12px;
    padding: 0 18px;
    border: 1px solid #ddd;
    border-radius: 57%;
    align-items: center;
    display: flex;
    cursor: pointer;
    position: relative;
    margin: 0px 7px;
}

.navbar .nav-buttons .button img {
    width: 20px;
    height: 20px;
}

.navbar .nav-buttons .cart .badge {
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: red;
    color: #fff;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 9px;
}

/* Стили для мобильного меню */
.hamburger {
    display: flex; /* Сделать элемент flex-контейнером */
    flex-direction: column; /* Разместить дочерние элементы по колонке */
    justify-content: space-around; /* Распределить пространство между элементами */
    width: 30px; /* Ширина гамбургера */
    height: 25px; /* Высота гамбургера */
    cursor: pointer; /* Указатель курсора как "pointer" для кликабельности */
    flex-wrap: wrap-reverse;

}

.hamburger span {
    display: block;  
    background-color: white; /* Цвет фона белый */
    transition: all 0.3s; 
}

.hamburger span:nth-child(1) {
    width: 100%; /* Полная ширина */
    height: 2px; /* Высота верхнего спана */
}

.hamburger span:nth-child(2) {
    width: 75%; /* Ширина в 75% от полной ширины */
    height: 2px; /* Меньшая высота для среднего спана */
}

.hamburger span:nth-child(3) {
    width: 50%; /* Ширина в 50% от полной ширины */
    height: 2px; /* Ещё меньшая высота для нижнего спана */
}

.mobile-nav-links {
    display: none;
    flex-direction: column;
    background-color: #f8f8f8;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #ddd;
}

.mobile-nav-links.open {
    display: flex;
}

.mobile-nav-links a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    display: block;
}

/* Медиа-запросы для адаптивного дизайна */
@media (max-width: 768px) {
    .navbar .nav-links {
        display: none;
    }
    .navbar{
        background-color: #EE575C;
    }
    .navbar .nav-buttons{
        margin-right: 1px;
    }
    .hamburger {
        display: flex;
    }


    .sort-button{
        display: none !important;
    }
    .sort-button-mobile{
        display: flex;
    }
}

/*  */
.content {
    padding: 20px 0;
}

 

@font-face {
    font-family: "Core Sans C";
    src: url("../assets/fonts/caro/CoreSansC-45Regular.ttf");
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: "Core Sans C";
    src: url("../assets/fonts/caro/CoreSansC-55Medium.ttf");
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: "Core Sans C";
    font-weight: 300; /*  */
    font-style: normal;
    src: url("../assets/fonts/caro/CoreSansC-35Light.ttf");
}
@font-face {
    font-family: "Core Sans C";
    src: url("../assets/fonts/caro/CoreSansC-65Bold.ttf");
    font-weight: 700; /* Bold */
    font-style: normal;
}
footer {
    background-color: #353945;
    /* padding: 40px 20px; */
    font-family: "Core Sans C";

}



.footer-section {
    flex: 1;
    min-width: 190px;
    margin: 9px;
    padding: 30px 0;
}
.footer-section:first-child {
    flex: 2;  
    min-width: 230px;

}

.footer-section h2.logo {
    font-size: 24px;
    color: #f44336;
    margin-bottom: 10px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: "Core Sans C";
    font-weight: normal; 
    color: #fff;
}

.footer-section p {
    margin: 0 0 10px;
    font-size: 12px;
    color: #B7B7B7;
    padding: 20px 0;
    font-family: "Core Sans C";
    font-style: 400; 



}

.footer-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin: 5px 0;  
    font-family: "Core Sans C";
    font-weight: 300; /*  */
    font-style: normal;


}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    font-style: normal;
    color: #999999;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.contact-numbers {
    margin: 10px 0;
}

.contact-numbers a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    background-color: #1A1A1A;
    border-bottom: 1px solid red;
    padding: 10px 3px;
    font-size: 12px;
}

.contact-numbers a:hover {
    text-decoration: underline;
}

.contact-numbers span {
    margin: 0 10px;
    color: #B7B7B7;
    font-size: 12px;
}
 
.footer-bottom{
 
  background-color: #272B38;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  padding: 0 90px;
  color: #808080;

}


 /*  */

 
h1 {
    margin-top: 60px;
    /* font-weight: normal; */
    font-size: 30px;
    font-weight: 600;
}

 
/* Основные стили */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.catalog-main {
    width: 100%;
}
.catalog-main h1{
    padding: 0 15px
}



.sort-filter-bar {
    display: none;
}

.sort-button-mobile, .category-button {
    border: 1px solid #F1F1F1;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
    margin: 5px;
    max-width: 48%;
}
.sort-button svg, .category-button svg {
    margin-left: auto;
}
/* Основные стили */
.search-bar {
    display: flex;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}

.sort-button {
    border: none;
    background-color: #F1F1F1;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px;
    flex-shrink: 0;
}

.search-container {
    position: relative;
    flex: 1;
    margin: 5px;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.search-input {
    width: 100%;
    padding: 10px 10px 10px 35px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-sizing: border-box;
}

/* Медиазапросы */
@media (max-width: 768px) {
    h1 {
        margin-top: 8px;
        font-size: 36px;
        font-weight: 600;
    }
    .hr-catalog{
        display: none;
    }
    .search-bar {
        flex-direction: column;
    }

    .sort-button {
        width: 100%;
        max-width: 100%;
    }

    .search-container {
        width: 100%;
    }
}


.sidebar {
    /* width: 250px; */
    margin-right: 20px;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: start;
    display: block ;

}

.filter-sliders span {
    display: inline-block;
    width: 50px;
    text-align: center;
}

.filter-range {
    margin-bottom: 20px;
    font-family: 'Caros Soft Regular';
    font-style: normal;
    font-size: 13px;
}

.filter-range h3, .filter-name {
    color: #B8B8B8;
    font-weight: 300;
    font-size: 12px;
    padding: 8px 15px;
    font-size: 12px;
    white-space: nowrap;
}

.size-range {
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.input-box {
    position: relative;
}

.input-box input {
    width: 80px;
    padding: 10px;
    border: 1px solid #EE575C;
    border-radius: 25px;
    text-align: center;
}

.range-separator {
    margin: 0 10px;
    color: #ff4d4f;
}

.filter {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #2F2F2F;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.filter h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.filter div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 10px;
    white-space: nowrap;
    font-family: 'Caros Soft Regular';
    font-style: normal;
    color: #2F2F2F;
}

.filter input[type="checkbox"] {
    margin-right: 10px;
}

.filter label {
    display: block;
}



.main {
    display: flex;
    width: 100%;
}
 
/* Основные стили для боковой панели */
.sidebar {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: start;
    display: none; /* Скрыть по умолчанию на мобильных устройствах */
}

/* Показываем панель на десктопе */
@media (min-width: 769px) {
    .sidebar {
        display: block; /* Всегда видима на десктопе */
    }

    .category-button {
        display: none; /* Скрыть кнопку на десктопе */
    }
}@media (max-width: 768px) {
   

    .main {
        flex-direction: column;
    }

    .sort-filter-bar {
        /* flex-direction: column;
        align-items: stretch; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px;
        flex-direction: row-reverse;
    }

    .sort-button, .category-button {
        max-width: 100%;
    }
    .product-card {
        width: 100% !important;
    }
    
}




.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0 200px 0;
}

.pagination span {
    /* margin: 0 5px; */
    padding: 5px 10px;
    cursor: pointer;
    color: #2F2F2F;
}

.pagination .active {
    font-weight: bold;
    text-decoration: underline;
    background-color: #EE575C;
    border-radius: 25px;
    text-decoration: none;
}

 

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 столбца */
    gap: 20px; /* Отступ между карточками */
    margin: 20px; /* Отступ вокруг контейнера */
}

.product-card {
    width: 200px;
    background-color: #fff;
    border-radius: 10px;
    padding: 8px;
    border: 0.75px solid #ECECEC;
    text-align: center;
    box-sizing: border-box;
}

.product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-price {
    color: #ff0000;
    font-size: 16px;
    font-weight: bold;
    text-align: start;
    width: 100%;
}

.product-favorite {
    color: #ff6b6b;
    font-size: 18px;
    cursor: pointer;
    text-align: end;
    width: 100%;
}

.product-image {
    width: 100%;
    height: auto;
    margin: 10px 0;
}

.product-details {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.product-details h3 {
    font-size: 14px;
    margin: 5px 0;
}

.product-details p {
    font-size: 12px;
    color: #666;
    margin: 5px 0;
}

.color-options {
    display: flex;
    justify-content: start;
    gap: 5px;
    margin: 10px 0;
}

.color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #B8B8B8;
    margin: 0;
    box-sizing: border-box;
}

.color-white { background-color: #fff; border: 1px solid #ccc; }
.color-gray { background-color: #888; }
.color-black { background-color: #000; }
.color-red { background-color: #f00; }
.color-green { background-color: #0f0; }
.color-blue { background-color: #00f; }

.product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.product-price-final {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
    width: 100%;
}

.product-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.add-to-cart {
    display: flex;
    background-color: #ff6b6b;
    justify-content: center;
    align-items: center;
    text-align: center;

    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    bottom: 10px;
    right: 10px;
}

.add-to-cart:hover {
    background-color: #ff4b4b;
}

/* Адаптивный дизайн для мобильных устройств */
@media (max-width: 768px) {
    .products {
        grid-template-columns: repeat(2, 1fr); /* 2 столбца на мобильных устройствах */
    }
    .main{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .products {
        grid-template-columns: repeat(2, 1fr); /* 2 столбца на мобильных устройствах */
    }
}


/*  */

/*  */
.hr-catalog{
    margin-top: 30px;
    border: 0.1px solid #ECECEC;
    height: 0.2px;

}
/*  */
/*  */
/*  */
/*  */
/*  */
 
  ::selection{
    color: #fff;
    background: #EE575C;
  }
  .wrapper{
     background: #fff;
    border-radius: 10px;
    padding: 0 10px 20px;
   }
  header h2{
    font-size: 24px;
    font-weight: 600;
  }
  header p{
    margin-top: 5px;
    font-size: 16px;
  }
  .price-input{
    width: 100%;
    display: flex;
    /* margin: 30px 0 35px; */
  }
  .price-input .field{
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
  }
  .field input{
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 10px;
    margin-left: 12px;
    border-radius: 5px;
    text-align: start;
    border: none;
    -moz-appearance: textfield;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .price-input .separator{
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
  }
  .slider{
    height: 3px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
  }
  .slider .progress{
    height: 50%;
    left: 0%;
    right: 42%;
    position: absolute;
    border-radius: 5px;
    background: #EE575C;
  }
  .range-input{
    position: relative;
  }
  .range-input input{
    position: absolute;
    width: 80%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  input[type="range"]::-webkit-slider-thumb{
    height: 11px;
    width: 11px;
    border-radius: 50%;
    background: #EE575C;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
  }
  input[type="range"]::-moz-range-thumb{
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #EE575C;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
  }


  